<div class="container mt-4">
  <div class="header d-flex align-items-center mb-4">
    <img src="https://static7.depositphotos.com/1008244/727/v/450/depositphotos_7274744-stock-illustration-realistic-vintage-tv.jpg" alt="TV Logo" class="logo mr-3">
    <h3 class="header-title">TV Series</h3>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Channel</th>
        <th>Seasons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of series; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="series-name">{{ serie.name }}</td>
        <td>{{ serie.channel }}</td>
        <td>{{ serie.seasons }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Mostrar el promedio de las temporadas debajo de la tabla -->
  <div class="average-seasons">
    <p>Seasons average: {{ getPromedioSeasons() }}</p>
  </div>
</div>
